/*The grey backgrounds from users.css. Changed the name, as header and footer are already used. */
.top, .bottom {
    background-color: grey;
    color: white;
    padding: 15px;
  }


/* Grid layout = Areas are named, and are created below  */
.container {
    border-radius: 10px;
    max-width: 800px;
    display: grid;
    background: rgb(255, 243, 243);
    margin:10px auto;
    
    grid-template-areas: 
        "header header header"
        "profileContent profileContent profileContent"
        "Skills Skills Skills"
        "SkillsContent SkillsContent SkillsContent"
        "achievementsContent achievementsContent achievementsContent"
        "modulesTook modulesTook modulesTook"
        "projectContent projectContent projectContent"
        "summaryContent summaryContent summaryContent"
        "footer footer footer"
        ;
        
     border: 3px solid rgb(120, 120, 219);
     
}
/* Layout for div sections */
.container > div {
    background-color:#b0f5f1;
    text-align: center;

 
  }

header{
    grid-area: header;
    font-size: 30px;
    text-align: center;

    animation-name: colourChange;
    animation-duration: 4s;
}
@keyframes colourChange {
    from {background-color: red; 
    /* Rotation felt a bit too much */
     /*   transform: rotate(20deg);*/
    }
    to {background-color: yellow;
   }
  }

.footer {

    background-color: grey;
    color: white;
    padding: 15px;
  }



.profileContent{
    grid-area: profileContent;
}
.Skills{
    grid-area: Skills;
}

.SkillsContent{
    grid-area: SkillsContent;
    column-count: 2;
    column-gap: 30px;
}
.achievementsContent{
    grid-area: achievementsContent;
}
.modulesTook{
    text-align: left;
    grid-area: modulesTook;
}
 li {
 
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.projectContent{
    grid-area: projectContent;
}
.summaryContent{
    grid-area: summaryContent;
}


/* Adding extra detail after the title */
h1:after
{
    content: 'CV';
    font-style: italic;
    
}

/* Displaying colour changing banners */
h2
{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    background-color: #17a09e;
    transition-property: background-color;
    transition-duration: 800ms;
    top:0;
    font-family: "Times New Roman", Times, serif;
    color: white;
    transition: width 2s, height 2s, transform 2s;

}

h2:hover
{
    background-color: #b20101;
 
    /* Had an animation for the headers, but thought it to be unnecessary.
    transform: rotate(360deg);
    */
}


